/* .admin-nav-buttons {

}

.admin-nav-buttons:hover {
  
}


.contents-page {
  text-align: -webkit-center;
}

.content-item {
  width: 600px;
  height: auto;
  border: solid 1px lightgray;
  border-radius: 3px;
  background-color: white;
  padding: 16px 16px 4px 16px;
  margin-bottom: 10px;
}

.admin-delete-content {
}

.admin-delete-content:hover {
  /* cursor: pointer; */
  color: brown;
}
 */
