.admin-nav-buttons {
    margin-top: 30px;
  margin-bottom: 30px;
  font-size: inherit;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  line-height: 126%;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 2px 2px 7px white;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.admin-nav-buttons:hover {
  
}


.contents-page {
  text-align: -webkit-center;
  background-image: url(CollectionPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contents-header {
  font-family: cursive;
  font-size: 90px;
  text-align: center;
  color: white;
  padding: 30px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.content-item {
  margin: 40px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.content-img {
  height: 400px;
  width: 500px;
}

.admin-delete-content {
  font-size: 14px;
  font-family: cursive;
  background-color: white;
}

.admin-delete-content:hover {
  color: steelblue;
}

