.admin-nav-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 19px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  line-height: 126%;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}


.contents-page {
  text-align: -webkit-center;
  background-image: url(TreasureCollectionPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contents-header {
  font-family: fantasy;
  font-size: 80px;
  text-align: center;
  color: white;
  font-weight: bolder;
  border: solid 10px;
  background-color: seagreen;
  border-radius: 15px;
  padding-top: 25px;
  box-shadow: inset 0 1px 1px #a4e388;
}

.content-item {
  border: solid 5px white;
  border-radius: 10px;
  color: white;
  margin: 40px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.content-img {
  border: solid 5px white;
  color: white;
  background-color: lightblue;
}