.collection-page {
  text-align: -webkit-center;
}

.collection-header {
}

.the-collection {
  font-size: 13px;
  margin-top: 50px;
}

.collection-item {
  border: solid 5px white;
  border-radius: 10px;
  color: white;
  margin: 40px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.treasure-text {
}

.collection-item-buttons {
}

.collection-item-buttons:hover {
  cursor: pointer;
  color: brown;
}