.collection-page {
  text-align: -webkit-center;
  background-image: url(treasureboxisland.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: normal;
  height: 1200px;
}

.collection-header {
  font-family: cursive;
  font-size: 80px;
  color: gold;
  padding: 30px;
  font-weight: 700;
}

.the-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collection-item {
  border: solid 5px white;
  border-radius: 10px;
  height: 350px;
  width: 300px;
  color: white;
  margin: 40px;
  background-color: lightblue;
}