.image-popout-container {
  width: 500px;
}

.karma-text {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0px;
}

.karma-image-instruction {
  font-weight: lighter;
  font-size: 16px;
  padding: 5px;
}