.session-navbar {
  text-align: center;
}

.login-signup-container {
  border: solid 10px gold;
  background-image: url(treasuremap.jpg);
  height: 650px;
}

.mainpage-footer {
  text-align: center;
}

.session-header {
  text-align: center;  
}

.forms {
  display: flex;
  justify-content: center;
}
.session-form {
  border: solid 5px saddlebrown;
  height: 500px;
  width: 350px;
  text-align-last: center;
}

.form-inputs {
  background-color: transparent;
  border-bottom: solid 2px black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  width: 175px;
}