.report-page {
  text-align: -webkit-center;
  background-image: url(ReportsPage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: normal;
  min-height: 100vh;
}

.reports-page-header {
  font-family: cursive;
  font-size: 90px;
  text-align: center;
  color: white;
  padding: 30px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.report-info {
  color: white;
  font-size: 25px;
  font-family: fantasy;
  background-color: lightblue;
  border: solid 5px white;
  padding: 15px;
  border-radius: 10px;
}

.admin-reports-buttons {
  font-size: 15px;
  font-family: cursive;
}

.admin-reports-buttons:hover {
  color: steelblue;
}