.report-page {
  text-align: -webkit-center;
}

.reports-page-header {
}

.report-info {
    width: 600px;
  height: auto;
  border: solid 1px lightgray;
  background-color: white;
  padding-bottom: 4px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
  border-radius: 3px;
}



.admin-reports-buttons:hover {
  /* cursor: pointer; */
  color: brown;
}