.session-form-container {
  height: 100vh;
  width: 100%;
  background-image: url("temple.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.session-form-switch {
  display: flex;
  align-items: inherit;
  justify-content: flex-end;
  margin-right: 40px;
}

.session-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5px 0px 5px;
  border: 2px solid #4c5444;
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 16px;
  color: #4c5444;
  background: none;
  transition-property: background-color, border-color, color;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.session-buttons:hover {
  color: #e1cdac;
  background-color: #4c5444;
  border-color: #4c5444;
}

.session-form-switch button:last-child {
  background-color: #4c5444;
  border-color: #4c5444;
  color: #e1cdac;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.session-form-switch button:last-child:hover {
  opacity: 70%;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.session-form form, label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form label {
  margin-top: 10px;
}

.form-title {
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 50px;
}

.session-form input {
  background-color: transparent;
  border-bottom: solid 1px black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 5px;
}

.session-form label {
  font-size: 18px;
}

.errors {
  color: red;
  font-weight: 500;
}