.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url('mini_tree.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.counter {
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
  color: white;
  flex-direction: column;
}

.counter span {
  margin-bottom: 10px;
  font-size: 20px;
}
