.page-navbar {
  text-align: end;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  border: solid 2px black;
  background-color: lightblue;
}

.nav-collection {
  height: 65px;
  width: 65px;
  border: solid 3px gold;
  border-radius: 15px;
}

.treasure-island {
  text-align: -webkit-center;
}

.island-header {
  font-family: cursive;
  font-size: 60px;
  padding: 30px;
}

.treasure-island-page {
  background-image: url(treasureisland.jpg);
  height: 900px;
  width: 1200px;
}