.users-page {
  text-align: -webkit-center;
}

.all-users {
  margin-top: 50px;
}

.user-box {
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  height: auto;
  border: solid 1px lightgray;
  border-radius: 3px;
  background-color: white;
  padding: 16px 16px 4px 16px;
  margin-bottom: 10px;
}

.user-box h2 {
  font-weight: 200;
}
